/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
.php_cs.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

public/mix-manifest.json
public/css
public/assets
public/js
public/svg
public/vendor~
public/vendor/
public/images/
.idea
