includes:
  - ./vendor/nunomaduro/larastan/extension.neon

parameters:

  paths:
    - app

  # Level 8 is max
  level: 7

  ignoreErrors:

  checkMissingIterableValueType: true
  checkGenericClassInNonGenericObjectType: false
